<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <img src="{{ movie.poster.url }}" class="img-fluid" alt="постер фильма" >
</div>
<div>{{ movie.title }}</div>
<div>{{ movie.year }}</div>
<div>{{ movie.description }}</div>
<div>{{ movie.country }}</div>
<div>
    {% for directors in movie.directors.all %}
        {{ directors.name }}
    {% endfor %}
</div>

<div>
    <p>Кадры из фильма</p>>
    {% for shots in movie.movieshots_set.all %}
        <img src="{{ shots.image.url }}" class="img-fluid" alt="кадр фильма" width="200" height="110" >
    {% endfor %}
</div>

</form>
</body>
</html>