{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- //Meta tag Keywords -->
    <title>Movies App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link type="text/css" href="{% static 'movies/css/styles.css'%}" rel="stylesheet"/>
</head>

<body>

    <div id="page" class="page">


        <section class="container">
            <nav>
                <ul class="nav">
                    <li class=""><a href="/" title="Home">Home</a></li>
                    <li class=""><a href="#" title="About">About</a></li>
                </ul>
            </nav>
        </section>


        <section class="ab-info-main py-md-5 py-4 editContent" style="padding-left: 3rem; padding-right: 3rem;">
            <div class="container-fluid py-md-3">
                <div class="row">
                    <div class="side-bar col-lg-3">

                        <div class="search-bar w3layouts-newsletter">
                            <h3 class="sear-head editContent" >Поиск фильма</h3>
                            <form action="#" method="post" class="d-flex editContent" >
                                <input type="search" placeholder="Введите название..." name="search" class="form-control" required="">
                                <button class="btn1 btn" ><span class="fa fa-search" aria-hidden="true" ></span></button>
                            </form>
                        </div>


                    </div>
                    <!-- //product left -->
                    <!-- product right -->
                    <div class="left-ads-display col-lg-9">
                        <div class="row">
                            {% for movie in movie_list %}
                            <div class="col-md-4 product-men">
                                <div class="product-shoe-info editContent text-center mt-lg-4" >
                                    <div class="men-thumb-item">
                                        <img src="{{ movie.poster.url }}" class="img-fluid" alt="" >
                                    </div>
                                    <div class="item-info-product">
                                        <h4 class="">
                                            <a href="{{ movie.get_absolute_url }}" class="editContent" >
                                                {{ movie.title }}
                                            </a>
                                        </h4>

                                        <div class="product_price">
                                            <div class="grid-price">
                                                <span class="money editContent" >
                                                    {{ movie.tagline }}
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!--<div class="grid-img-right mt-4 text-right bg bg1" >
                            <span class="money editContent" >Flat 50% Off</span>
                            <a href="moviesingle.html" class="btn" >Now</a>
                        </div>-->
                    </div>
                </div>
            </div>
        </section>

        <section class="about">
            <p class="about-links">
                <a href="http://www.cssflow.com/snippets/dark-horizontal-navigation" target="_parent">View Article</a>
                <a href="http://www.cssflow.com/snippets/dark-horizontal-navigation.zip" target="_parent">Download</a>
            </p>
            <p class="about-author">
                &copy; 2012&ndash;2013 <a href="http://thibaut.me" target="_blank">Thibaut Courouble</a> -
                <a href="http://www.cssflow.com/mit-license" target="_blank">MIT License</a><br>
                Original PSD by <a href="http://www.pixeden.com/psd-web-elements/light-and-dark-psd-web-menu" target="_blank">Pixeden</a>
            </p>
        </section>
        </div>
    </body>
</html>
